@font-face {
  font-family: 'Chalkduster';
  src:  url('../public/fonts/Chalkduster.ttf') format('ttf')}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(242, 250, 253) 
}

.logo {
  position: fixed;
  z-index: 100000000;
}

.reLogo {
  top: 0px;
  width: 180px;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sky {
  background: url('../public/images/sky.jpg');
  background-size: cover;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: -1;
}

.buildings {
  background: url('../public/images/buildingsONLY.png') no-repeat;
  background-size: cover;
  width: inherit;
  height: 100vh;
  position: absolute;
  bottom: 0;
  
}


.spirte {
  background: url('../public/images/early_start_spirte.png') no-repeat;
  background-size: cover;
  width: 160px;
  height: 255px;
  /*animation: walk-east 2.0s steps(8) infinite;*/
  position: absolute;
  bottom: 5px;
  left: 110px;
  z-index:50;
}

.boyResult {
  position: fixed;
  bottom: 0px;
  z-index:50;
}

@keyframes walk-east {
  from {background-position: 0px}
  to {background-position: -1282px}
}

/* MODAL 1: WELOCME CHALKBOARD */
.welcome {
  background: url('../public/images/chalkboard.png') no-repeat;
  background-size: 100% 100%;
  width: 550px;
  height: 400px;
  position: absolute;
  top: 25vh;
  left: 30vw;
  transform: translate(50, 50);
}

.titleWelcome {
  font: 50px 'Chalkduster';
  color: white;
  margin-left: 26%;
  padding-top: 40px;
}

.earlyStart {
  font: 20px 'Chalkduster';
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  letter-spacing: 2px;
  text-align: justify;
}

.start {
  font: 20px 'Chalkduster';
  color: white;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  width: 20%;
  border: 2px solid white
}

/**/

/* MODAL 2: HOW OLD ARE YOU? */
.age {
  width: 425px;
  height: 600px;
  position: absolute;
  background: url('../public/images/clipboardText.png') no-repeat;
  background-size: 100%;
  top: 15vh;
  left: 40vw;
  transform: translate(50, 50);
  font: 24px 'Chalkduster';
}


.ageForm {
  position: relative;
  top: 40%;
  left: 30%;
  width: 50%;
  border: 1px solid green;
  transform: rotate(8deg);
  border: none;
  text-align: center;

}

.ageForm option{
  transform: rotate(8deg);
}

.ageButton {
  position: absolute;
  bottom: 40%;
  left: 40%;
  transform: rotate(8deg);
  border: none;
  background-color: lightblue;
  border-radius: 15px;
  width: 25%;
}

/* */

.tree1 {
  background: url('../public/images/tree1.png') no-repeat;
  position: absolute;
  background-size: 100%; 
  bottom: 25px;
  left: 625px;
  width: 141px;
  height: 300px;
}

.location {
  position: absolute;
  top: 30vh;
  left: 30vw;
  background: white;
  padding: 2vw;
  font-family: 'Chalkduster';
}

.location h2 {
  font-family: 'Chalkduster';
}
.bus {
  position: absolute;
  background: url('../public/images/school_bus.png') no-repeat;
  background-size: 100%;
  width: 750px;
  height: 280px;
  right: 10vw;
  bottom: 10px;
}
/*-------------------------RESULT PAGE----------------------*/
.compare-button{
  margin-top: 10px;
}

.resultPage {
  width: 100vw;
  height: 100vh;
}

.resultPage h1 {
  color: blue;
  font: 36px 'Chalkduster';
  position: absolute;
  top: 5vh;
  left: 50vw;
  width: 35vw;
  text-align: center;
}

.results {
  position: absolute;
  top: 18vh;
  left: 15vw;
  width: 80vw;
  font-size: 18px;
}

.result {
  display: flex;
  padding: 2vw;

}

.result .mini_map {
  border: 3px solid blue;
  width: 155px;
  height: 155px;
}

.result .schoolInfo {
  margin-left: 3%;
  width: 80%;
  display: flex;
  align-content: center;
}

.result ul {
  margin:0;
  padding: 0;
}

.result li{
  list-style: none;
  padding: 1vh;
}

.result a{
  color: black;
}

.result a:hover {
  color: blue;
}

.result .info {
  border-right: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result .schoolName{
  font: 24px 'Chalkduster';
}

.result .skills{
  width: 25%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkOuter{
  width: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


input[type="checkbox"] {
  width: 40px;
  height: 40px;
  cursor: pointer;
}





/*-------------------------COMPARE PAGE----------------------*/

.street {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.half {
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
}

.search {
  font: 16px 'Chalkduster';
  color: black;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  width: 20%;
  border: 2px solid black;
}
