body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  position: fixed;
  z-index: 100000000;
}
.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sky {
  background: url('../public/images/sky.jpg');
  background-size: cover;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  z-index: -1;
}

.buildings {
  background: url('../public/images/buildingsONLY.png') no-repeat;
  background-size: cover;
  width: inherit;
  height: 100vh;
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  
}


.spirte {
  background: url('../public/images/early_start_spirte.png') no-repeat;
  background-size: cover;
  width: 160px;
  height: 255px;
  /*animation: walk-east 2.0s steps(8) infinite;*/
  position: absolute;
  bottom: 5px;
  left: 110px;
}

@keyframes walk-east {
  from {background-position: 0px}
  to {background-position: -1282px}
}

.outer-container {
  width: 70%;
}
.Age {
  width: 45%;
  margin-left: 30%;
  margin-top: 15%;
  position: absolute;
}

.ageForm {
  position: absolute;
  margin-left: 40%;
  margin-top: 40%;
}

.selection {
  width: 100%;
  border: 2px solid black;
  padding: 12px 20px;
  font-size: 25px;
}

.welcome {
  background: green;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50vh;
  left: 40vw;
  transform: translate(50);
}
