@font-face {
  font-family: 'Chalkduster';
  src:  url('../public/fonts/Chalkduster.ttf') format('ttf')}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  position: fixed;
  z-index: 100000000;
}
.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sky {
  background: url('../public/images/sky.jpg');
  background-size: cover;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  z-index: -1;
}

.buildings {
  background: url('../public/images/buildingsONLY.png') no-repeat;
  background-size: cover;
  width: inherit;
  height: 100vh;
  position: absolute;
  bottom: 0;
  
}


.spirte {
  background: url('../public/images/early_start_spirte.png') no-repeat;
  background-size: cover;
  width: 160px;
  height: 255px;
  /*animation: walk-east 2.0s steps(8) infinite;*/
  position: absolute;
  bottom: 5px;
  left: 110px;
}

@keyframes walk-east {
  from {background-position: 0px}
  to {background-position: -1282px}
}


.welcome {
  background: url('../public/images/chalkboard.png') no-repeat;
  background-size: 100% 100%;
  width: 550px;
  height: 400px;
  position: absolute;
  top: 25vh;
  left: 30vw;
  transform: translate(50, 50);
  border: 1px solid blue;

}

.age {
  width: 425px;
  height: 600px;
  position: absolute;
  background: url('../public/images/clipboardText.png') no-repeat;
  background-size: 100%;
  top: 15vh;
  left: 40vw;
  transform: translate(50, 50);
  font: 24px 'Chalkduster';
}


.ageForm {
  position: relative;
  top: 40%;
  left: 30%;
  width: 50%;
  border: 1px solid green;
  transform: rotate(8deg);
  border: none;
  text-align: center;

}

.ageForm option{
  transform: rotate(8deg);
}

.ageButton {
  position: absolute;
  bottom: 40%;
  left: 40%;
  transform: rotate(8deg);
  border: none;
  background-color: lightblue;
  border-radius: 15px;
  width: 25%;
}

.tree1 {
  background: url('../public/images/tree1.png') no-repeat;
  position: absolute;
  bottom: 25px;
  left: 625px;
  width: 141px;
  height: 300px;
}

/*-------------------------COMPARE PAGE----------------------*/
.gmaps{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.flex-grid{
  padding-left: 90px;
  padding-right: 90px;
  /*display: -webkit-flex;*/
  /*display: flex;*/
  /*-webkit-flex-direction: row;
  flex-direction: row;*/
}
 
/*.column{*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
/*
  background-color: skyblue;
  flex: 0 0 100%;
  padding: 10px;
  margin-left: 10px;*/
  /*flex-basis: 100%;*/
  /*width: 33%;*/
/*}*/

/*.topresults{
  display: flex;
  flex-direction: column;
}*/